.video {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  border: 1px solid lightgray;
  background-color: whitesmoke;
}

.video_player {
  background-color: whitesmoke;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
