.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
}

.header_logo {
  height: 40px;
  width: 100px;
  object-fit: contain;
}

.header_icon {
  padding: 20px;
}
