.yrSQf,
.bmICJW,
.MiODY,
.MiODY:hover {
  background-color: #fe3d71 !important;
  padding: 10px 22px !important;
  border: 2px solid #fe3d71 !important;
}

.yrSQf,
.bmICJW,
.icoUiW,
.icoUiW:hover {
  border: 2px solid #fe3d71 !important;
}

.lbbrWo {
  height: 50vh !important;
}
