.app{
    background-color: whitesmoke;
    padding-bottom: 20px;
    /* height: 100vh; */
}

.app_header {
    position: sticky;
    top: 0;
    align-items: left;
    border-bottom: 1px solid white;
    background-color: rgb(236, 236, 236);
    display: flex;
    z-index: 1;
}

.app_headerImg {
    object-fit: contain;
    flex: 1;
    padding: 10px;
}

.app_headerModal{
    flex: 0;
}

.app_body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 50px !important;
}
