.modal_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal_formControl {
    margin-bottom: 10px;
}

.modal_button {
    margin: 20px;
    padding: 15px;
    display: flex;
}

.m-2{
    margin: 5px !important;
}